@page
@model PokemonWebApp.Pages.Pokemons.DeleteModel
@{
}
<div class="row text-center">
    <h1>
        Confirmação de exlcusão
    </h1>
</div>
<div class="row">
    <h3>
        Você deseja realmente deletar o pokemon @Html.DisplayFor(model => model.Pokemon.nome)?
    </h3>
</div>
<form method="post">
    <input type="hidden" asp-for="Pokemon.ID" />
    <input type="submit" value="Deletar" class="btn btn-danger" />
</form>